@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 8%);
    min-height: 100vh;
    overflow: hidden; 
}
.container{
    max-width: 360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin: 0 1em;
}
.avater{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.jessica, .description{
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
}
.london{
    color: hsl(75, 94%, 57%);
    margin-top: 10px;
    font-weight: bold;
}
.description{
    font-size: 15px;
}
button{
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}